In [2]:
# tuple defination

tup = (10,20,30,40)
print(type(tup))
tup.count(10)

<class 'tuple'>

1

In [3]:
tup.index(10)

0

In [5]:
# tuple indexing and slicing

tup = (10,20,30,[40,50,(30,40,(60,70,80))])

In [18]:
# example :
#o/p : 70,80
print(*tup[3][2][2][1:])

70 80

In [ ]:
# condtional statement
'''
if condition==true:
    perform operation inside the loop
else:
    perform the operation


note : = assignment operator
        == comparison operator

'''
num = 10

if num == 10:
    print('the value is 10 ')
else:
    print('the value is other than 10 ')

the value is 10

In [16]:
text ='dad'
text1 = text[::-1]


if text == text1:
    print('the given string is paindrom ')
else:
    print('the given string is not a palindrom')

the given string is paindrom

In [ ]:
''' 
if condition:
    statement
elif condition:
    statement
else condition:
    statement    


'''

In [22]:
''' 
marks > 80 : best student 
marks between 60 to 79 : good student
marks between 50 to 59 : average student
marks < 49 : poor student

'''

marks = float(input('enter the marks of the student: '))



if marks >= 80:
    print('best student')
elif marks < 80 and marks > 60:
    print('good student')
elif marks < 60 and marks > 50:
    print('average student')
else: 
    print('poor student')

good student

In [ ]:
''' 
balance = 10000
withdraw = amount
threshould = 2000


'''
balance = 10000
threshould = amount
withdraw = float(input('enter the amount of withdraw:'))

if  withdraw >= balance:
        print('insufficient balance')
if withdraw <= balance:
        new_balance = balance - withdraw
if new_balance >= 2000:
        print('new_balance is ',new_balance)
else:
        print('check your transaction , once again')

insufficient balance
new_balance is  2500.0

In [38]:
# for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [39]:
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [41]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [47]:
for i in range(1,6): 
        print('*'*i*i)

*
****
*********
****************
*************************