In [2]:
# tuple defination

tup = (10,20,30,40)
print(type(tup))
tup.count(10)

<class 'tuple'>

1

In [3]:
tup.index(10)

0

In [5]:
# tuple indexing and slicing

tup = (10,20,30,[40,50,(30,40,(60,70,80))])

In [18]:
# example :
#o/p : 70,80
print(*tup[3][2][2][1:])

70 80

In [ ]:
# condtional statement
'''
if condition==true:
    perform operation inside the loop
else:
    perform the operation


note : = assignment operator
        == comparison operator

'''
num = 10

if num == 10:
    print('the value is 10 ')
else:
    print('the value is other than 10 ')

the value is 10

In [16]:
text ='dad'
text1 = text[::-1]


if text == text1:
    print('the given string is paindrom ')
else:
    print('the given string is not a palindrom')

the given string is paindrom

In [ ]:
''' 
if condition:
    statement
elif condition:
    statement
else condition:
    statement    


'''

In [22]:
''' 
marks > 80 : best student 
marks between 60 to 79 : good student
marks between 50 to 59 : average student
marks < 49 : poor student

'''

marks = float(input('enter the marks of the student: '))



if marks >= 80:
    print('best student')
elif marks < 80 and marks > 60:
    print('good student')
elif marks < 60 and marks > 50:
    print('average student')
else: 
    print('poor student')

good student

In [ ]:
''' 
balance = 10000
withdraw = amount
threshould = 2000


'''
balance = 10000
threshould = amount
withdraw = float(input('enter the amount of withdraw:'))

if  withdraw >= balance:
        print('insufficient balance')
if withdraw <= balance:
        new_balance = balance - withdraw
if new_balance >= 2000:
        print('new_balance is ',new_balance)
else:
        print('check your transaction , once again')

insufficient balance
new_balance is  2500.0

In [38]:
# for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [39]:
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [41]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [47]:
for i in range(1,6): 
        print('*'*i*i)

*
****
*********
****************
*************************

In [6]:
''' 
range (start,stop,step)


'''

for i  in range(0,10,2):
    print(i)

0
2
4
6
8

In [ ]:
# using while loop
num = 5
count = 0 
while count < num:
    print(count)
    count = count + 1

0
1
2
3
4

In [11]:
num = 5
count = 0 
while count <= num:
    print(count)
    count = count + 1

0
1
2
3
4
5

In [ ]:
num =  10
count = 0
while count <= num:
    if count%2 == 0:
        print(count)
    count = count + 1

0
2
4
6
8
10

In [18]:
num =  10
count = 0
while count <= num:
    if count%2 == 1:
        print(count)
    count = count + 1

1
3
5
7
9

In [20]:
for i in range(0,20,2):
    continue
    print(i)

In [21]:
for i in range(0,20,2):
    pass
    print(i)

0
2
4
6
8
10
12
14
16
18

In [22]:
for i in range(0,20,2):
    break
    print(i)

In [24]:
for i in range (0,15):
    if i<=5:
        print(i)
        continue

0
1
2
3
4
5

In [25]:
for i in range (0,15):
    if i<=5:
        print(i)
        pass

0
1
2
3
4
5

In [26]:
for i in range (0,15):
    if i<=5:
        print(i)
        break

0

In [28]:
for i in range (0,15):
    if i<=5:
        print(i)
        break
        continue

0

In [31]:
for i in range (0,10):
   for j in range (10,20):
        print(i)
        print(j)

0
10
0
11
0
12
0
13
0
14
0
15
0
16
0
17
0
18
0
19
1
10
1
11
1
12
1
13
1
14
1
15
1
16
1
17
1
18
1
19
2
10
2
11
2
12
2
13
2
14
2
15
2
16
2
17
2
18
2
19
3
10
3
11
3
12
3
13
3
14
3
15
3
16
3
17
3
18
3
19
4
10
4
11
4
12
4
13
4
14
4
15
4
16
4
17
4
18
4
19
5
10
5
11
5
12
5
13
5
14
5
15
5
16
5
17
5
18
5
19
6
10
6
11
6
12
6
13
6
14
6
15
6
16
6
17
6
18
6
19
7
10
7
11
7
12
7
13
7
14
7
15
7
16
7
17
7
18
7
19
8
10
8
11
8
12
8
13
8
14
8
15
8
16
8
17
8
18
8
19
9
10
9
11
9
12
9
13
9
14
9
15
9
16
9
17
9
18
9
19

In [ ]:
''' 
num1
num2
choice = +,-,*,/

num1 = 
num2 =
choice = 

'''

num1 = float(input("enter the amount: " )
num2 = float(input("enter the amount: " )
choice = ("enter the choice:  ")

if choice == '+'    
    print('addition')
if choice == '-'
    print('subtraction')
if choice == '*'
    print('multiply')
if choice == '/'
    print('divide')
else: 
    print('check the entered choice')

SyntaxError: expected ':' (4131619231.py, line 16)